@import 'typography.css';
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.app-bar {
  height: 56px;
  width: 100%;
  padding: 8px 16px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: table;
}
.app-bar a {
  text-decoration: none;
}
.app-bar--fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}
.app-bar__actions {
  text-align: right;
}
.app-bar__action {
  width: 42px;
  height: 42px;
  display: inline-block;
  margin-right: 8px;
  background-position: center;
}
.app-bar__action:last-of-type {
  margin-right: 0;
}
.app-bar__action,
.app-bar__nav-button {
  background-size: 60%;
  background-repeat: no-repeat;
}
.app-bar__nav-button {
  padding-left: 8px;
  background-position: left center;
  width: 42px;
  height: 42px;
}
.app-bar__nav-button--menu {
  background-image: url('icons/ic_menu_white_48dp_1x.png');
}
.app-bar__nav-button--back {
  background-image: url('icons/docs/back.svg');
}
.app-bar__nav-button,
.app-bar__navigation,
.app-bar__title {
  display: table-cell;
  vertical-align: middle;
}
.app-bar__title {
  font-size: 20px;
  font-weight: 700;
}
/*.action, .nav-button {

    img, svg {
      display: inline-block;
      .square(24px);
    }
  }*/
.app-bar--fixed + .main-content,
.app-bar--fixed + .drawer-layout {
  position: relative;
  top: 56px;
}
