.padded {
  padding: 16px;
}
.dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100vw;
  z-index: 100;
}
.dialog:after {
  content: '';
  display: block;
  background-color: #000;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 200;
  transition: opacity 0.2s;
}
.dialog__actions {
  padding: 16px;
  text-align: right;
}
.dialog__actions:after {
  content: '';
  display: block;
  clear: both;
}
.dialog__body {
  padding: 16px;
}
.dialog__panel {
  position: relative;
  width: 80vw;
  max-width: 420px;
  top: 15vh;
  margin: 0 auto;
  box-shadow: 4px 4px 6px #424242;
  z-index: 300;
  background-color: #fff;
  border-radius: 2px;
  overflow: hidden;
  transition: transform 0.3s, opacity 0.2s;
  transform: scale(0.5);
  opacity: 0;
}
.dialog__title {
  padding: 16px;
  font-size: 18px;
  font-weight: 700;
  display: block;
}
.dialog--open .dialog__panel {
  transform: scale(1);
  opacity: 1;
}
.dialog--open:after {
  opacity: 0.6;
}
.dialog--visible {
  left: 0;
}
