.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
/* Buttons */
.btn {
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 500;
  font-family: Roboto, Verdana, sans-serif;
  border-radius: 1px;
}
.btn[disabled] {
  background-color: #ececec;
  color: #8a8a8a;
  border: 1px solid #dfdfdf;
  box-shadow: none;
  text-shadow: 0 -1px 1px #fff;
  font-weight: 500;
}
.btn--raised {
  transition: box-shadow 0.4s;
  background-color: #2196F3;
  border: 1px solid #1976D2;
  color: #fff;
  text-shadow: 0 -1px 1px #6f6f6f;
  box-shadow: 0 2px 2px #ccc;
}
.btn--flat {
  transition: background-color 0.4s;
  background-color: transparent;
  border: none;
  color: #2196F3;
  font-weight: 900;
}
input[type=checkbox] + label {
  background: url('icons/checkbox-empty.svg') no-repeat left center;
}
input[type=checkbox]:checked + label {
  background-image: url('icons/checkbox-checked.svg');
}
input[type=radio] + label {
  background: url('icons/radio-empty.svg') no-repeat left center;
}
input[type=radio]:checked + label {
  background-image: url('icons/radio-checked.svg');
}
input[type=checkbox],
input[type=radio] {
  position: absolute;
  left: -10000px;
}
input[type=checkbox] + label,
input[type=radio] + label {
  display: inline-block;
}
input[type=checkbox] + .input-label--block,
input[type=radio] + .input-label--block {
  display: block;
  margin-bottom: 8px;
  margin-right: 0;
}
.error-list {
  display: none;
}
.error-list--visible {
  display: block;
}
.error-list__error {
  font-style: italic;
  color: #E53935;
  display: block;
}
.field {
  margin-bottom: 16px;
}
.field--required .field__label:before {
  content: '* ';
  color: #E53935;
}
.field__label {
  font-weight: bold;
  display: block;
}
.field__input {
  display: inline-block;
  font-family: 'Roboto', 'Arial', 'Verdana', 'sans-serif';
  border-radius: 2px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  padding: 0 8px;
  font-size: 14px;
}
select.field__input,
textarea.field__input {
  height: auto;
  padding: 8px;
}
/* Mobile Screens */
@media screen and (max-width: 768px) {
  .btn {
    height: 36px;
    min-width: 72px;
  }
  .btn--raised:active {
    box-shadow: 0 -2px 4px #1976D2 inset;
  }
  .btn--flat:active {
    background-color: #ececec;
  }
  .error-list {
    margin-top: 6px;
  }
  .field__label {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .field__input {
    display: block;
    width: 100%;
    height: 36px;
  }
  input[type=checkbox] + label,
  input[type=radio] + label {
    background-size: 24px;
    font-size: 14px;
    padding: 4px 8px 4px 28px;
  }
}
@media screen and (min-width: 769px) {
  .btn {
    display: inline-block;
    height: 28px;
    font-size: 11px;
    min-width: 64px;
  }
  .btn--raised:hover {
    box-shadow: 0 3px 4px #ccc;
  }
  .btn[disabled]:hover {
    box-shadow: none;
  }
  .btn--raised:active {
    box-shadow: 0 -2px 4px #1976D2 inset;
  }
  .btn--flat:hover {
    background-color: #f5f5f5;
  }
  .btn--flat:active {
    background-color: #e8e8e8;
  }
  .error-list {
    margin-top: 4px;
  }
  .error-list__error {
    font-size: 12px;
  }
  .field--inline {
    display: inline-block;
    margin-right: 8px;
  }
  .field--inline:last-of-type {
    margin-right: 0;
  }
  .field__label {
    margin-bottom: 8px;
  }
  .field__input {
    display: inline-block;
    height: 28px;
  }
  input[type=radio] + label,
  input[type=checkbox] + label {
    background-size: 16px;
    padding: 1px 8px 1px 20px;
  }
}
