.table {
  width: 100%;
  margin: 16px auto;
}
.table--bordered {
  border: 1px solid #EEEEEE;
}
.table--striped tr:nth-of-type(even) td {
  background-color: #f5f5f5;
}
.table thead td {
  font-weight: bold;
  background-color: #EEEEEE;
}
.table td {
  padding: 8px;
}
