@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic);
/*@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-400.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-500.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto-700.woff2') format('woff2');
    font-weight: 700;
}*/
body {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-size: 13px;
  font-weight: 400;
}
.heading {
  font-weight: bold;
  margin-bottom: 12px;
}
.heading--normal {
  font-weight: 400;
}
.heading--xl {
  font-size: 56px;
}
.heading--large {
  font-size: 45px;
}
.heading--medium {
  font-size: 34px;
}
.heading--small {
  font-size: 24px;
}
.heading--sub {
  font-size: 15px;
  margin-bottom: 8px;
}
.text--bold {
  font-weight: 500;
}
.text--caption {
  font-size: 12px;
}
.text--title {
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .text--subheading {
    font-size: 16px;
  }
  .text {
    font-size: 14px;
  }
}
